  <body>

    <div id = "section-1">

        <h1>Hello!</h1>

    </div>

    <div id = "section-2">

        <h2>Started in 2015 by <a target="_blank" href="http://e-l.li">Elli Park</a>, Found My Hound was built with the goal to find as many homes for pups in need.</h2>

        <h3>Currently, Found My Hound is in beta, and only serves a small population in New York. But I hope to expand to other parts of the country and to international grounds in the future.
        </h3>

    </div>

    <div id = "section-3">

        <h2>Thank you for visiting, hope you enjoyed! 😊</h2>

    </div>

  </body>

