  <body>

    <div id = "section-1">

        <h1>Hello!</h1>

    </div>

    <div id = "section-2">

        <h2>We’re passionate about simplifying web infrastructure and building a product that developers love.
        </h2>

    </div>

    <div id = "section-3">

        <p>Feel free to reach me at my <a href="mailto:ellijpark@gmail.com?subject=Hey!&body=Hey Elli, what's poppin?">email</a> or take a look at my <a target="_blank" href="http://e-l.li">portfolio</a>!<br><br>

        I'm also on <a target="_blank" href="https://twitter.com/ellijpark">Twitter</a> and <a target="_blank" href="https://www.linkedin.com/in/ellijpark">Linkedin</a>.
        <br>😊</p>

    </div>

  </body>

