

<% if @search.search_dogs.empty? %>

	<div class = "general-row">
	<div class = "general-form show-form">
		<h2>Your Potential Hounds:</h2>

		<p class = "no-matches">We found no matches with your criteria... try searching again!</p>
		<%= button_to "Start a new search", new_search_path, method: :get, :class => "btn btn-primary btn-md" %>
	</div>
	</div>

<% else %>

	<h2 class = "search-h2">Your Potential Hounds:</h2>

	<% @search.search_dogs.in_groups_of(4, false).each do |c| %>

		<div class = "row results-row">

			<% c.each do |d| %>

			<div class="col-md-3">

				<%= link_to dog_path(d.id), :class => "img-responsive" do	%>
			  		<%= image_tag d.avatar_url.to_s %>
		  		<% end %>

		  	</div>

		  	<% end %>

	</div>

	<% end %>

	<div class="divider"></div>

<% end %>
