/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 
 */
*{
	padding: 0;
	margin: 0 auto;
	 -webkit-font-smoothing: antialiased;
	font-family: Futura, Helvetica, sans-serif;
  overflow:scroll;
}

.form {
	width: 500px;
	margin: 0 auto;
}

.form h2{
	font-size: 2.25vw;
}

.field {
	width: 400px;
	padding: 50px;
}

.actions {
  padding: 20px 50px;
  font-size: 1.25em;
  color: #fff;
  background-color: rgba(255, 0, 255, 0);
  border: 1px solid #fff !important;
  text-decoration: none;
    
}
.actions:visited {
  color: #fff;
  border: 1px solid #fff !important;
  outline:none !important;
}

.actions:hover {
  transition: all 0.3s ease;
  color: #000;
  background-color: #fff;
}

p {
  margin:0;
}

.messages {
  padding-top: 15px;
  width: 25vw;
  margin: 0 auto;
}

.alert {
  font-size:1.25em;
  text-shadow: none;
  box-shadow: none;
  text-align: center;
  color: #fff;
}

.alert-success {
  background-image: none;
  background-color: #59B11D;
  border: 1px solid #59B11D;
  border-radius: 2px;
}

.alert-danger {
  background-image: none;
  background-color:#B11D1D;
  border: 1px solid #B11D1D;
  border-radius: 2px;
}